.lista-produtos .card-img-top {
height: 300px;
object-fit: cover;

}


.card-img-top {
    /* Define o tamanho original e a suavidade da transição */
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    /* Diminui o elemento para 80% do tamanho original no hover */
    transform: scale(0.8);
}
